<?php

return [
    'mode' => 'development', // application mode, can be 'development' or 'production'

    // admin area specific settings
    'backend' => [
        'frontName' => 'admin'  // route to the admin area
    ],

    // All paths are relative to the root of the project
    'directories' => [
        'static' => 'static',   // path to static files
        'view' => 'view' ,      // path to page layout related files
        'media' => 'media',     // path to media files
    ],

    // database connection settings
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '127.0.0.1',
                'dbname' => '',
                'username' => '',
                'password' => '',
                'model' => 'mariadb',
                'engine' => 'innodb',
                'active' => '1'
            ]
        ]
    ]
];